<h2>Cart</h2>

<nb-card status="success">
    <table>
        <thead>
            <th>Quantity</th>
            <th>Product</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </thead>
        <tbody *ngFor="let element of cartElementsList">
            <tr>    
                <td>
                    <button nbButton 
                            size="tiny"
                            outline
                            >
                            <nb-icon icon="minus-outline"></nb-icon>  
                        </button>
                        <span class="padding"> {{ element.Quantity }} </span>
                    <button nbButton 
                            size="tiny"
                            outline
                            >
                            <nb-icon icon="plus-outline"></nb-icon>  
                        </button>
                </td>
                <td>
                    <a [routerLink]="'/product/'+ element.ProductId">
                        {{ element.NameProduct }}
                    </a>
                </td>
                <td>
                    <span [ngStyle]="{'text-decoration':element.Discount ? 'line-through': 'none'}"
                            class="padding">
                        {{ element.Price }} € 
                    </span>
                    <ng-container *ngIf="element.Discount">
                        <!-- <span style="color:#009674"> -{{ element.Discount }}€</span>  -->
                        <span> {{ element.Price - element.Discount}} €</span> 
                    </ng-container>
                </td>
                
                <td>{{ (element.Quantity * (element.Price - element.Discount)).toFixed(2) }} €</td>
                <td><button nbButton
                            status="danger"
                            size="small"
                    ><nb-icon icon="close-outline"></nb-icon>
                    </button>
                </td>
            </tr>
        </tbody>
     
        <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="total padding">Total: </span> €</td>
        </tfoot>
            
    </table>
</nb-card>

<span class="right">
    <button nbButton
            status="success"
    >Order
    </button>
    <button nbButton
            status="danger"
            outline
    >Empty Cart
    </button>
</span>