<nb-card accent="success" class="card">
    <nb-card-header>
        <h1>Order</h1>
    </nb-card-header>
    <nb-card-body>
        <h4>Order Summary</h4>
        <table >
            <thead>
                <th>Products</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </thead>
            <tbody *ngFor="let item of cartList">
                <tr>
                    <td>{{ item.NameProduct }}</td>
                    <td>{{ item.Quantity }}</td>
                    <td>
                        <span [ngStyle]="{'text-decoration':item.Discount ? 'line-through': 'none'}"
                              class="padding">
                            {{ item.Price }} € 
                        </span>
                        <ng-container *ngIf="item.Discount">
                            <!-- <span style="color:#009674"> -{{ item.Discount }}€</span>  -->
                            <span> {{ item.Price - item.Discount}} €</span> 
                        </ng-container>
                    </td>
                    <td>{{ (item.Quantity * (item.Price - item.Discount)).toFixed(2) }} €</td>
                </tr>
            </tbody>
        </table>
        <button nbButton status="danger"><a routerLink="/cart">Back to Cart</a></button>
        <h4>Destination</h4>
        <app-form-address-user></app-form-address-user>
    </nb-card-body>
    
</nb-card>
