.card{
    width: 75%;
    margin: 0 auto;
}



table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    // padding-bottom: 20px;
}
table thead{
    background-color: #edf1f7;
    // color: white;
}
th, tfoot {
    height: 50px;
  }
.total{
    font-weight: 700;
}
td {
    height: 40px;
    border-bottom: 1px solid #ddd;
  }
button {
    margin: 50px;
}
button a {
    color: white;
    text-decoration: none;
}