<!-- catégory name -->
<!-- catégory description -->
<ng-container *ngIf="categoryParams">
    <h2>{{ categoryParams }}</h2>
    <p *ngIf="category">{{category.Description}}</p>
</ng-container>
<ng-container *ngIf="!categoryParams">
    <h2>Shop</h2>
</ng-container>


<div class="card-row">
    <div class="card-col">
        <ng-container *ngFor="let product of productsList">
            <nb-card  status="success">
                <nb-card-header><a [routerLink]="'/product/'+ product.ProductId">{{ product.NameProduct }}</a></nb-card-header>
                <nb-card-body>
                    <img src="../../../assets/pexels-rene-asmussen-325690.jpg" style="width:200px;" alt="">
                    <!-- <p>Reference: {{ product.ProductRef }}</p> -->
                    <p>
                        <span [ngStyle]="{'text-decoration':product.Discount ? 'line-through': 'none'}">{{ product.UnitSalePrice }}€</span> 
                        <ng-container *ngIf="product.Discount">
                            <span style="color:#009674"> -{{ product.Discount }}€</span> 
                            <span> -> New Price: {{ product.UnitSalePrice - product.Discount}}€!</span> 
                        </ng-container>
                    </p>
                    <button nbButton status="basic" size="small">Add to Cart <nb-icon icon="plus-outline"></nb-icon></button>
                </nb-card-body>
            </nb-card>
        </ng-container>
    </div>
</div>


