@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #f1bfca,
  color-primary-200: #e898ab,
  color-primary-300: #df7388,
  color-primary-400: #d65d71,
  color-primary-500: #cf4f5d,
  color-primary-600: #bf4a5a,
  color-primary-700: #a94455,
  color-primary-800: #943e50,
  color-primary-900: #713346,
  
  color-danger-100: #f1bfca,
  color-danger-200: #e898ab,
  color-danger-300: #df7388,
  color-danger-400: #d65d71,
  color-danger-500: #cf4f5d,
  color-danger-600: #bf4a5a,
  color-danger-700: #a94455,
  color-danger-800: #943e50,
  color-danger-900: #713346,
  
  color-success-100: #a3e6d9,
  color-success-200: #5dd6c0,
  color-success-300: #00c3a6,
  color-success-400: #00b393,
  color-success-500: #00a481,
  color-success-600: #009674,
  color-success-700: #008664,
  color-success-800: #007665,
  color-success-900: #005939,

  color-primary-default: color-primary-400,
  color-success-default: color-success-200,

  header-shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.14),
  font-family-primary: 'Rubik',

), corporate, corporate);
