
.flex{
    display: flex;
    //justify-content: center;
}
.item{
    margin: 20px;
    // display: inline-block;
}
// .label{
//     padding-right: 20px;
// }
.tinyInput{
    width: 50%;
}
.btn{
    margin: 50px;
}